.clear {
  clear: both;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.dicePanel {
  width: 300px;
  min-height: 200px;
  background-color: #cccccc;
  border: 3px solid black;
}

.dieSelector {
  width: 50px;
  height: 50px;
  background-color: lightseagreen;
  margin: 10px;
  float: left;
  position: relative;
}

.rollDieText {
  text-align: center;
  vertical-align: middle;
}

.centerText {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.dieQuantity {
  width: 50px;
  height: 50px;
  background-color: lightseagreen;
  margin: 10px;
  float: left;
  position: relative;
}

.rollButton {
  width: 50px;
  height: 50px;
  background-color: #20b2aa;
  margin: 10px;
  float: left;
}

.sidesPopupPanel {
  position: absolute;
  width: 186px;
  height: 117px;
  border: 1px solid #167c75;
  background-color: #88fff5;
  border-radius: 5px;
  padding: 2px;
  top: 35px;
  left: 35px;
  z-index: 1;
}

.sidesPanel {
  width: 45px;
  height: 45px;
  background-color: #20b2aa;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  float: left;
  border: 1px solid #167c75;  
  border-style: outset;
  border-radius: 5px;
}

.sidesLabel {
  margin: 2px 5px 2px 5px;
  font-size: .7em;
}

.quantityPopupPanel {
  position: absolute;
  width: 95px;
  /* height: 96px; */
  border: 1px solid #167c75;
  background-color: #88fff5;
  border-radius: 5px;
  padding: 2px;
  top: 35px;
  left: 35px;
  z-index: 1;
}

.addDieButton {
  margin-left: 10px;
}

.clearDieButton {
  margin-left: 10px;
  margin-right: 10px;
}

.quantityDiv {
  overflow: hidden;
  padding: 5px;
  /* padding-right: .5em; */

}

.quantityInput {
  width: 50px;
}

.quantityInputButton {
  float: right;
  margin: 5px 5px 5px 0;
  padding: 5px;
}

.quantityInputLabel {
  margin: 2px 5px 0 5px;
  font-size: .7em;
}

/*add hover background color change to components*/

.dieButtons {
  position: relative;
  float: left
}

.removeDie {
  position: absolute;
  top: 27px;
  width: 20px;
  height: 20px;
  background-color: lightseagreen;
  margin: 10px 0;
  padding: 3.7px 5.2px;
  /* float: left; */
  border-radius: 15px;
}

.rollSingleDie {
  position: absolute; 
  top: 3px; 
  width: 20px;
  height: 20px;
  background-color: lightseagreen;
  margin: 10px 0;
  padding: 5px 5.2px;
  /* float: left; */
  border-radius: 15px;
}

i {
  float: left;
  font-size: .8em !important; 
}

.rollAllDiceIcon {
  float: right;
  margin: 8px 2px 0 0;

}

.rollBonus {
  width: 50px;
  height: 50px;
  background-color: lightseagreen;
  margin: 10px;
  float: left;
  position: relative;
}

.bonusPopupPanel {
  position: absolute;
  width: 95px;
  /* height: 96px; */
  border: 1px solid #167c75;
  background-color: #88fff5;
  border-radius: 5px;
  padding: 2px;
  top: 35px;
  left: 35px;
  z-index: 1;
}

.bonusInputLabel {
  margin: 2px 5px 0 5px;
  font-size: .7em;
}

.bonusInputButton {
  float: right;
  margin: 5px 5px 5px 0;
  padding: 5px;
}

.bonusDiv {
  overflow: hidden;
  padding: 5px;
  /* padding-right: .5em; */
}

.bonusInput {
  width: 50px;
}

.background {
  width: 100%;
  height: 100%;
  background-color: black;
}

.rollResultSection {
  margin-left: 10px;
}

.rollSides {
  text-align: center;
  vertical-align: middle;
  padding: 0 5px;
  font-size: .60em;
  color: #fff;
  background-color: #167c75;
}

.rollResult {
  text-align: center;
  vertical-align: middle;
  padding: 0 5px;
  background-color: #20b2aa;
}



