.feedPanel {
  width: 300px;
  min-height: 200px;
  padding: 2px 10px 10px 10px;
  background-color: #cccccc;
  border: 3px solid black;
}

.feedStream {
  height: 200px;
  padding: 2px 5px 5px 5px;
  background-color: #fff;
  overflow: scroll;
}

.gameFeedLabel {
  font-size: .65em;
  margin-left: 3px;
}

.messageHeader {
  font-size: .8em;
}

.messageFooter {
  margin: 10px 0 10px 0;
  border-top: 2px #c2c2c2 solid;
}

.rollCalled {
  font-size: .7em;
  color: #a3a3a3;
  margin-left: 3px;
}

@media screen and (min-width: 600px) {
  .feedPanel {
    height: 90vh;
  }

  .feedStream {
    height: calc(100% - 15px);
    background-color: #fff;
    overflow: scroll;
  }
}