.weaponInfo {
  max-width: 300px;
  min-height: 100px;
  background-color: red;
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 5px;
  /* position: relative; */
}

.weaponName {
  padding: 5px;
}

.weaponStats {
  position: relative;
  background-color: brown;
  border: 1px solid black;
  padding: 5px;
}

.weaponStatName {
  /* position: absolute; */
  font-size: .5em;
  /* top: 0; */
}

.weaponStatValue {
  /* position: absolute; */
  margin-left: 3px;
  /* top: 10px; */
}

.weaponCost {
  
  
  color: gold;
  
}

.weaponDamage {

}

.weaponWeight {

}

.weaponProperties {

}




